<% provide(:title, "Nueva consulta") %>

<h1>Nueva consulta</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@query) do |f| %>
			<%= render 'shared/query_errors_messages' %>

			<%= f.label :description, "Breve descripción" %>
			<%= f.text_field :description, class: 'form-control' %>

			<p>/* Demo */</p>

			<label for="query_description">Archivo/URL</label>
			<input type="file" name="pic" accept=".arff,.xrff">

			<label for="query_description">Filtro</label>
			<select>
				<option value="f1">Filtro 1</option>
				<option value="f2">Filtro 2</option>
				<option value="f3">Filtro 3</option>
			</select> 

			<label for="query_description">Clasificador</label>
			<select>
				<option value="c1">Clasificador 1</option>
				<option value="c2">Clasificador 2</option>
				<option value="c3">Clasificador 3</option>
			</select> 

			<%= f.submit "Crear consulta", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>