<header class="navbar navbar-fixed-top navbar-inverse" id="cabecera">
	<div class="">
		<h1 id="titulo">Aplicación para la extración de reglas descriptivas</h1>
		<table class="menu">
			<tr>
				<%= content_tag :td, :class => (yield(:title) == "Home")? "selected" : "" do %>
				  <%= link_to "Inicio", root_path %>
				<% end %>

				<td><%= link_to "Consultas", "#" %></td>
				<td><%= link_to "Nueva consulta", "#" %></td>
				<td><%= link_to "Usuario", "#" %></td>
				<td><%= link_to "Log in/out", "#" %></td>

				<%= content_tag :td, :class => (yield(:title) == "Help")? "selected" : "" do %>
				  <%= link_to "Ayuda/Contacto", help_path %>
				<% end %>
			</tr>
		</table>
	</div>
</header>