<header>
	<div class="container">
		<h1 id="titulo">Aplicación para la extración de reglas descriptivas</h1>
		<table style="width:100%;text-align:center">
			<tr>
				<td><%= link_to "Inicio", root_path %></td>
				<td><%= link_to "Consultas", "#" %></td>
				<td><%= link_to "Nueva consulta", "#" %></td>
				<td><%= link_to "Usuario", "#" %></td>
				<td><%= link_to "Log in/out", "#" %></td>
				<td><%= link_to "Ayuda/Contacto", help_path %></td>
			</tr>
		</table>
	</div>
</header>