<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1 style="text-align:center">Aplicación para la extración de reglas descriptivas</h1>
	<table style="width:100%;text-align:center">
		<tr>
			<td><%= link_to "Inicio", "/static_pages/home" %></td>
			<td>Consultas</td>
			<td>Nueva consulta</td>
			<td>Usuario</td>
			<td>Log in/out</td>
			<td><%= link_to "Ayuda/Contacto", "/static_pages/help" %></td>
		</tr>
	</table>

<%= yield %>

</body>
</html>
